.container{
  width: 1400px;
  height: 100%;
 
}
.container-box{
  display: flex;
  margin: 0 auto;
  width: 1000px;
}
#main{
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

p{
  font-size: 20px;
}

body{
  background: #010A13;
}
