<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/record.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>전적 페이지</title>
</head>
<body>
    <header class="header-box"></header>
    <main class="main-box">
        <div class="profil-box">
            <div class="head-info">
                <div class="profil-info">
                    <div class="profil-img">
                        <img src="/static/images/profileicon/1.png"  alt="">
                    </div>
                    <div class="profil-summoner">
                        <h1>타잔 #kr1</h1>
                        <h4>소환사 레벨 : 596</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="profil-box">
            <div class="head-check">
                <div class="check-box">
                    <ul class="btn-check">
                        <li class="select-btn">
                            <button class="button button--ujarak button--border-thin button--text-thick">종합</button>
                            <button class="button button--ujarak button--border-thin button--text-thick">챔피언</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="match-info">
            <div class="match-left">
                <div class="rank-box">
                    <div class="rank-subject">
                        <h4>솔로랭크</h4>
                    </div>
                    <div class="rank-info">
                        <div class="rank-img">
                            <div class="img-box">
                                <img src="/static/images/profileicon/0.png" alt="">
                            </div>
                        </div>
                        <div class="rank-score">
                            <h2>Challenger</h2>
                            <h5>1,662 LP</h5>
                        </div>
                        <div class="rank-winning">
                            <h5>304승 220패</h5>
                            <h5>승률 58%</h5>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="match-right">

            </div>
        </div>

    </main>
    
</body>
<script src="/static/js/pricipal.js"></script>
<script src="/static/js/header.js"></script>
<script src="/static/js/record.js"></script>
</html>