<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/record.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>전적 페이지</title>
</head>

<body>
    <header class="header-box"></header>
    <main class="main-box">
        <div class="profil-box">
            <div class="head-info">
                <div class="profil-info">
                    <div class="profil-left">
                        <div class="profil-img">
                            <img src="/static/images/profileicon/1.png" alt="">
                        </div>
                        <div class="profil-summoner">
                            <h1>타잔 #kr1</h1>
                            <h4>소환사 레벨 : 596</h1>
                        </div>
                    </div>
                    <div class="profil-right">
                        <div class="rank-box">
                            <div class="rank-img" style="margin-left: 10px;">
                                <div class="img-box">
                                    <img src="/static/images/tier/challenger.png" alt="">
                                </div>
                            </div>
                            <div class="rank-info">
                                <div class="rank-score">
                                    <div>
                                        <h2>Challenger</h2>
                                    </div>
                                    <div>
                                        <h4>1,662 LP</h4>
                                    </div>
                                    <div>
                                        <h2>304승 220패</h2>
                                    </div>
                                    <div>
                                        <h4>승률 58%</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profil-box">
            <div class="head-check">
                <div class="check-box">
                    <ul class="btn-check">
                        <li class="select-btn">
                            <button class="button button--ujarak button--border-thin button--text-thick">종합</button>
                            <button class="button button--ujarak button--border-thin button--text-thick">챔피언</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="match-info">
            <div class="match-left">
                <div class="match-box">
                    <div class="match-info-fir">
                        <span class="info-text text-fir">솔로랭크</span>
                        <span class="info-text text-sec">04/17</span>
                        <span class="info-text text-thi">Win</span>
                        <span class="info-text text-four">28:13</span>
                    </div>
                    <div class="match-info-sec">
                        <div class="cop-one">
                            <div class="cop-two">
                                <div class="cop-four">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/14.8.1/img/champion/Taliyah.png" alt="" class="">
                                </div>
                                <span class="cop-five">17</span>
                            </div>
                            <div class="cop-three">
                                <div class="disflex diflmar">
                                    <div class="disflex"><img src="" alt="" class="spell-img"></div>
                                    <div class="disflex" style="margin-left: 2px;"><img src="" alt="" class="spell-img"></div>
                                </div>
                                <div class="disflex diflmar" style="margin-top: 2px;">
                                    <div class="disflex"><img src="" alt="" class="spell-img"></div>
                                    <div class="disflex" style="margin-left: 2px;"><img src="" alt="" class="spell-img"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <span>2</span>
                                <span>2</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span>2</span>
                                <span>2</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span>2</span>
                                <span>2</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>3</span>
                        <span>3</span>
                        <span>3</span>
                    </div>
                    <!-- <ul>
                        <li>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                            <div>
                                <div>4</div>
                                <a target="_blank" href=""></a>
                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="match-right">

            </div>
        </div>

    </main>

</body>
<script src="/static/js/pricipal.js"></script>
<script src="/static/js/header.js"></script>
<script src="/static/js/record.js"></script>

</html>