<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/record.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>전적 페이지</title>
</head>

<body>
    <header class="header-box"></header>
    <main class="main-box">
        <div class="back-img-box">
            <div class="profil-box">
                <div class="head-info">
                    <div class="profil-info">
                        <div class="profil-left">
                            
                        </div>
                        <div class="profil-right">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="profil-box">
            <div class="head-check">
                <div class="check-box">
                    <ul class="btn-check">
                        <li class="select-btn">
                            <button
                                class="button-menu button-menu--ujarak button-menu--border-thin button-menu--text-thick">종합</button>
                            <button
                                class="button-menu button-menu--ujarak button-menu--border-thin button-menu--text-thick">챔피언</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="match-info">
            <div class="match-left">
                <div class="daedkke-info">
                    
                </div>
            </div>


            <div class="match-right">
                <div class="right-img-box">
                    <div class="img-one-box">
                        <a href="/lolbti"><img src="/static/images/lolbti/lol_bti.png" alt="" style="width: 80%;"></a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer style="height: 200px;"></footer>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/record/record.js"></script>

</html>