<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/mypage/style_board.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        
    </div>
    <div class="main_content">
        <div class="header">
            
        </div>
        <div class="info">
            <!-- --------------------------------------------- -->
            <div class="table">
                <h1>POST</h1>
                <div class="tbl-header">
                    <table>
                        <thead>
                        <tr>
                            <th>My post</th>
                            <th>게시글 제목</th>
                            <th>게시글 내용</th>
                            <th>게시글 작성날짜</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div >
                    <table>
                        <tbody class="tbl-content-post">





                        </tbody>
                    </table>
                    <div class="page-controller">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/mypage/sidebar.js"></script>
<script src="/static/js/mypage/myPageHeader.js"></script>
<script src="/static/js/mypage/mypageBoard.js"></script>


</html>