<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="/static/css/mypage/style_board.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Gg.gg</h2>
        <ul>
            <li><a href="http://localhost:8000/mypage"><i class="fas fa-regular fa-user"></i> 내 정보</a></li>
            <li><a href="http://localhost:8000/mypage/post"><i class="fas fa-regular fa-file"></i> 내 포스트 목록</a></li>
            <li><a href="http://localhost:8000/mypage/reply"><i class="fas fa-regular fa-tag"></i> 내 댓글 목록</a></li>
            <li><a href="http://localhost:8000/mypage/delete"><i class="fas fa-regular fa-code"></i> 회원탈퇴</a></li>
        </ul>
        <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="main_content">
        <div class="header">
            <div class="top_menu">
                <a href="#">HOME</a>
                <a href="#">DUO</a>
                <a href="#">RANKING</a>
                <a href="#">COMMUNITY</a>
                <a href="#">LOLBTI</a>
            </div>
        </div>
        <div class="info">
            <!-- --------------------------------------------- -->
            <div class="table">
                <h1>POST</h1>
                <div class="tbl-header">
                    <table>
                        <thead>
                        <tr>
                            <th>My post</th>
                            <th>게시글 제목</th>
                            <th>게시글 내용</th>
                            <th>게시글 작성날짜</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div >
                    <table>
                        <tbody class="tbl-content-post">





                        </tbody>
                    </table>
                    <div class="page-controller">


                    </div>
                </div>
            </div>
            <!-- --------------------------------------------- -->
        </div>
    </div>
</div>

</body>
<script src="/static/js/principal.js"></script>
<script src="/static/js/mypage/mypageBoard.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>