<!DOCTYPE html>
<html lang="ko" xmlns:class="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mypage/delete.css">
    <title>main</title>
</head>
<body>
    <header class="header-box"></header>
<div class="wrapper">
    <div class="main-content">

        <div class="info">
            <!-- --------------------------------------------- -->
            <h1>안내문</h1>
            <div>
                <p>
                    회원탈퇴 시 작성한 게시글과 댓글은 모두 삭제 됩니다.<br>
                    정말 탈퇴하시겠습니까?
                </p>
            </div>

            <div class="btn-box">
                <button id="check-user-pw-button" >비밀번호 인증</button>
                <button id="delete-button" disabled>회원탈퇴</button>
            </div>

        </div>
     </div>
    </div>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/mypage/deleteAllData.js"></script>

</html>
