<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/mypage/style_delete.css">
</head>
<body>
<div class="wrapper">

    <div class="sidebar">
        
    </div>
    <div class="main_content">
        <div class="header">
            
        </div>
        <div class="info">
<!-- --------------------------------------------- -->
            <header class="header-container">
                <div class="MyPage wrap">
                    <div class="MyPage inner">
                        <h1><span class="My-Page">마이페이지</span></h1>
                    </div>
                </div>
            </header>
            <main>
                <div class="my-page">
                    <div class="container">
                        <div class="content-left">
                            <div class="img-form">
                                <div class="img-container">
                                    <img src="/static/images/MyPage-Profile.png" class="Profile-img">
                                </div>
                                <!--<input type="file" name="file" class="img-file">-->
                            </div>
                        </div>
                        <div class="content-right">
                            <div class="user-modify">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-post">
                    <div class="modify-btn-box">
                        <button type="submit" class="modification-button" >수정하기</button>
                        <button type="submit" class="modificationOK-button" disabled>수정완료</button>
                    </div>
                </div>
            </main>
            <!-- --------------------------------------------- -->
        </div>
    </div>
</div>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/mypage/sidebar.js"></script>
<script src="/static/js/mypage/myPageHeader.js"></script>
<script src="/static/js/mypage/updateUserInfo.js"></script>

</html>
