<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mypage/main.css">
</head>
<body>

    <header class="header-box">
        
    </header>
    <main>
        <div class="main_content">
            <div class="mypage-left">
                <div class="info">
                    <div class="mypage-box">
                        <div class="content-right">
                            <div class="user-modify">
                                <div class="user-info-box">
                                    
                                </div>
                            </div>
                            <div class="my-post">
                                <div class="modify-btn-box">
                                    <button type="submit" class="modification-button" >수정하기</button>
                                    <button type="submit" class="modificationOK-button" disabled>수정완료</button>
                                </div>
                            </div>
                            <div class="del-user-box">
                                <a href="/mypage/delete"><회원탈퇴></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mypage-right">
                <div>
                    <div class="right-top">
                        <div class="board-info-box">
                            <div class="board-info-text">
                                <span>내가 쓴 게시글 목록</span>
                            </div>
                            <div class="board-table-box">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>작성일</th>
                                            <th>조회</th>
                                            <th>추천</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    </tbody>
                                </table>
                            </div>
                            <div class="page-controller-board">
    
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="right-bottom">
                        <div class="reply-info-box">
                            <div class="reply-info-text">
                                <span>내가 쓴 댓글 목록</span>
                            </div>
                            <div class="reply-table-box">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>게시글 번호</th>
                                            <th>내용</th>
                                            <th>작성일</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="page-controller-reply">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/mypage/mypage.js"></script>

</html>
