<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>main</title>
    <link rel="stylesheet" href="/static/css/mypage/style_reply.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        
    </div>
    <div class="main_content">
        <div class="header">
            
        </div>
        <div class="info">
            <!-- --------------------------------------------- -->
            <h1>Reply</h1>
            <div class="tbl-header">
                <table>
                    <thead>
                    <tr>
                        <th>My reply</th>
                        <th>게시글 정보</th>
                        <th>내가 쓴 댓글</th>
                        <th>댓글 작성날짜</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div >
                <table>
                    <tbody class="tbl-content-reply">

                    </tbody>
                </table>
                <div class="page-controller">


                </div>
            </div>

            <!-- --------------------------------------------- -->
        </div>
    </div>
</div>

</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/mypage/sidebar.js"></script>
<script src="/static/js/mypage/myPageHeader.js"></script>
<script src="/static/js/mypage/mypageReply.js"></script>

</html>