input, table, td, th{
    border: 1px solid rgb(36, 37, 38);
}
label {
        color: #ffffff;
}

input {
    padding: 5px;
    cursor: pointer;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

body {
    background: rgb(36, 37, 38);
    font: 600 16px/18px 'Open Sans', sans-serif;
}


