input, table, td, th{
    border: 1px solid rgb(36, 37, 38);
}
label {
        color: #ffffff;
}
input {
    padding: 5px;
    cursor: pointer;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

body {
    /* background-color: #CA8BF5FF; */
    /* background-color: #0e0b1f; */
    /* background-color: #211e30; */
    background: rgb(36, 37, 38);
}

