body {
    color: #ffffff;
    font: 600 16px/18px 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;

    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.head-box{
    width: 100%;
    height: 200px;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.logo-box h1 {
    font-size: 60px;
}

.menu-box {
    display: flex;
    justify-content: center;
    height: 30%;
}

.menu-li {
    display: flex;
}

.menu-li a {
    font-size: 20px;
}

.li-list {
    padding: 5px 15px;
    margin: 0px 15px;
}

.main-box {
    width: 100%;
    height: 900px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.input-box {
    display: flex;
    width: 800px;

    background-color: #ffffff;
    border-radius: 30px;
}

.search {
    border: none;
    background: transparent;

    margin-left: 20px;
    width: 100%;
    font-size: 18px;

}

.search-button {
    background: transparent;
    border: none;
    padding: 25px;
}