body {
    color: #ffffff;
    font: 600 16px/18px 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;

    -ms-overflow-style: none;
}

.disflex{
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.main-box {
    width: 100%;
    height: 900px;
}

.profil-box {
    width: 100%;
    height: 200px;

    background-color: #383838;
}

.head-info {
    width: 1200px;
    margin: 0 auto;
}

.profil-info {
    height: 200px;

    display: flex;
    align-items: center;

}

.profil-left {
    float: left;
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.profil-right {
    float: right;
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
}

.profil-img img {
    max-width: 100px;
    max-height: 100px;

    border-radius: 25px;
}

.profil-summoner {
    margin-left: 25px;
}

.profil-box:nth-child(2) {
    height: 75px;
    border-top: 1px solid rgb(36, 37, 38);
}

.head-check {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.check-box {
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.rank-box{
    display: flex;
}

.rank-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.img-box {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    max-width: 80px;
    max-height: 80px;
}

.rank-info {
    width: 500px;
}

.rank-score {
    display: flex;
    align-items: center;
    width: 100%;
}

.rank-score div {
    margin-left: 15px;
}

.btn-check {
    height: 100%;
}

.select-btn {
    display: flex;
}

.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:focus {
    outline: none;
}

.button>span {
    vertical-align: middle;
}

.button--border-thin {
    border: 1px solid;
}

.button--border-thick {
    border: 3px solid;
}

.button--ujarak {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.button--ujarak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #676767;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak.button--round-s::before {
    border-radius: 2px;
}

.button--ujarak.button--inverted::before {
    background: #676767;
}

.button--ujarak,
.button--ujarak::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak:hover {
    color: #fff;
    border-color: #37474f;
}

.button--ujarak.button--inverted:hover {
    color: #37474F;
    border-color: #fff;
}

.button--ujarak:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.match-info {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.match-left{
    background: #ffffff33;
    float: left;
    width: 70%;
    height: 100%;
}

.match-right{
    background: rgb(204, 204, 250);
    float: right;
    width: 30%;
    height: 100%;
}

.match-box {
    position: relative;
    display: flex;
    padding: 10px 18px 10px 24px;
    border-radius: 4px;
    background: rgba(49, 142, 239, 0.1);
    cursor: pointer;
}

.match-info-fir {
    display: flex;
    flex-direction: column;
    width: 71px;
    padding-top: 10px;
    margin-right: 5px;
}

.info-text {
    color: rgb(249, 249, 249);
    font-weight: 700;
    font-size: 13px;
}

.text-fir {
    margin-bottom: 2px;
}

.text-sec {
    color: rgb(153, 153, 153);
    font-weight: 500;
    font-size: 13px;

    margin-bottom: 7px;
}
.text-thi {
    margin-bottom: 2px;
    color: rgb(0, 0, 255);
}
.text-four {
    color: rgb(153, 153, 153);
    font-weight: 500;
    font-size: 13px;
}

.match-info-sec{
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    margin-right: 12px;
}

.cop-one{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.cop-two {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    overflow: hidden;
}

.cop-three{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.cop-four {
    display: inline-block;
    overflow: hidden;
    transform: translateZ(0px);

    width: 100%;
    height: 100%;
}

.cop-four img{
    max-width: 100%;

    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 0.3s ease 0s;
}

.cop-five {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2px;

    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 11px;
}

.diflmar{
    display: flex;
    flex-direction: row;
}

.spell-img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: rgb(0, 0, 0);
}

