@import url('https://fonts.googleaois.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

#main{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

p{
  font-size: 20px;
}
