<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript">
<!--    $(document).on('click', '#checkPwd', function() {
        const checkPassword = $('#password').val();
        if(!checkPassword || checkPassword.trim() === ""){
            alert("비밀번호를 입력하세요.");
        } else{
            $.ajax({
                type: 'GET',
                url: '/members/checkPwd',
                data: {'checkPassword': checkPassword},
                datatype: "text"
            }).done(function(result){
                console.log(result);
                if(result){
                    console.log("비밀번호 일치");
                    window.location.href="/members/updateForm";
                } else if(!result){
                    console.log("비밀번호 틀림");
                    // 비밀번호가 일치하지 않으면
                    alert("비밀번호가 맞지 않습니다.");
                    window.location.reload();
                }
            }).fail(function(error){
                alert(JSON.stringify(error));
            })
        }
    });
</script>
<script inline="javascript">

    /*<![CDATA[*/

    var message = [[${message}]];
    alert(message);

    location.replace([[${searchUrl}]])

    /*]]>*/-->

</script>
<body>
<h2>delete</h2>
<table>
    <thead>
        <td># 회원탈퇴 신청에 앞서 아래의 사항을 반드시 확인하시기 바랍니다.</td>
    </thead>
</table><br/>
<table>
        <tbody>
            <ul>
                <li>각 종 아이템, 캐릭터, 사이버머니, 캐쉬, 마일리지, 포인트, 쿠폰 등의 삭제</li></br>
                <li>회원탈퇴를 신청하면, 서비스 이용시 보유하고 있던,</li>
                <li>개인의 모든 재산은 삭제됩니다.</li>
                <li> (자동번호생성) 입력하고자 하는 주의사항의 제목 </li></br>
                <li> 주의사항에 대한 세부 내용</li>
                <li>강조하고 싶은 내용</li>
                <li>이메일 내용, 블로그, 카페, 개인홈페이지 등 기타 아이디와 연계된 </li></br>
                    모든 사적인 영역의 정보와 게시물 삭제</li><br/>
                <li>회원탈퇴 후, 해당 서비스를 더이상 이용할 수 없으며,</li>
                <li>모든 사적인 정보는 삭제됩니다.</li></p>
                <li>해당 웹사이트와 연계된 제휴 패밀리 사이트 등의 일괄 탈퇴</li></br>
                <li>회원가입시 가입에 동의했던, 제휴사이트에서 모두 탈퇴됩니다.</li></p>
                <li>환불 수수료 부과, 소액 잔액의 미환급</li></br>
                <li>사이버 머니가 남아있을 시, 탈퇴 정책에 의해</li>
                <li>환불에 따른 수수료 지급 및 소액 잔액 미환급 등의 불이익이 있을 수 있습니다.</p>
                <li>일정기간 동안 재가입 불가 및 동일 아이디 사용 가능 여부</li></br>
                <li>회원탈퇴를 신청하시면 해당아이디는 즉시 탈퇴 처리되며, 이후 6개월동안 재가입이 불가능합니다.</li>
                <li>회원탈퇴 이후에도 개인정보 보유하는 경우, 그 근거와 사유 및 기간에 관한 사항</li></br>

                <li>회원탈퇴를 하더라도 특정한 사유가 있을 시 일정기간동안 개인정보를 보관할 수 있습니다.</li>
                <li>기타 해당 웹사이트의 정책, 약관 등에서 정하고 있는 정보 삭제</li></br>
            </ul>
            <ul>
                <input type="checkbox" name="finalCheck">약관 동의 확인 버튼</input><br>
                <button type="reset" name="삭제"></button>
            </ul>


        </tbody>
</table>
</body>
</html>