<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>

    <h1>메인페이지</h1>
    
    <main>
        <input type="text" name="search" id="search" class="search" autocomplete="off">
        <button type="submit" id="search-button" class="search-button">버튼</button>
    </main>
</body>
<script src="/static/js/main.js"></script>
<script src="/static/js/pricipal.js"></script>
</html>