<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/rotations/slide.css">

    <title>Document</title>
</head>
<body>

    <header class="header-box">
        
    </header>
    
    <main class="main-box">
        <div class="search-box">
            <div class="input-box">
                <input type="text" name="search" id="search" class="search" autocomplete="off" placeholder="플레이어 이름 + #KR1">
                <button type="submit" id="search-button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div>

        </div>
        <div>
            <div class="slide-container">
                <div class="swiper-info">
                    <h2 class="info-text" style="margin-bottom: 15px;">
                        무료 로테이션 챔피언(KR)
                        <small class="small-text">매주 화요일 04:00am KST 기준 변경</small>
                    </h2>
            
            
                    <div class="swiper-pagination-div">
                        <div class="swiper-pagination-pointer"></div>
                    </div>
            
            
                </div>
            
            
                <div class="swiper-container">
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
                    <div class="swiper-slide">
            
                    </div>
            
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-text">
            <p >© 2024 GoodGame.gg is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing
                League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
        </div>
    </footer>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/main/main.js"></script>
<script src="/static/js/rotations/slide.js"></script>
</html>