<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>

    <header class="head-box">
        <div class="logo-box">
            <a href="/main"><h1>GG.GG</h1></a>
        </div>
        <div class="menu-box">
            <nav>
                <ul class="menu-li">
                    <li class="li-list"><a href="/main">홈</a></li>
                    <li class="li-list"><a href="/record">전적검색</a></li>
                    <li class="li-list"><a href="">랭킹</a></li>
                    <li class="li-list"><a href="">듀오찾기</a></li>
                    <li class="li-list"><a href="">커뮤니티</a></li>
                    <li class="li-list"><a href="">MyPage</a></li>
                    <li class="li-list"><a href="">로그아웃</a></li>
                </ul>
            </nav> 
        </div>
    </header>
    
    <main class="main-box">
        <div class="search-box">
            <div class="input-box">
                <input type="text" name="search" id="search" class="search" autocomplete="off" placeholder="플레이어 이름 + #KR1">
                <button type="submit" id="search-button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div>

        </div>
        <div>

        </div>
    </main>
</body>
<script src="/static/js/main.js"></script>
<script src="/static/js/pricipal.js"></script>
</html>