<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>reply</title>
</head>
<body>
<form action="reply.html" method="post" name="replyForm"></form>
<main class="container">
    <div class="board-container">
        <div class="board-list"></div>
        <table class="board-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>게시글제목</th>
                <th>작성시간</th>
                <th>댓글내용</th>
                <input type="submit" value="delete" name="삭제">
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="page-controller"></div>
        <div class="page-controller1"></div>
</body>
</html>