<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="update.html" method="post" name="updateForm">

    userId: <input type="text" name="userId" value="userId">
    userPw: <input type="text" name="userPw" value="userPw">
    userNick: <input type="text" name="userNick" value="userNick">
    userGender: <input type="text" name="userGender" value="userGender">
    userEmail: <input type="text" name="userEmail" value="userEmail">
    <input type="button" value="수정">
</form>
</body>
<h2>ooo</h2>
</html>
