<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>로테이션</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/rotations/slide.css">

</head>
<body>



<div class="container">
    <div class="swiper-info">
        <h2 class="info-text">
            무료 로테이션 챔피언(KR)
            <small class="small-text">매주 화요일 04:00am KST 기준 변경</small>
        </h2>


        <div class="swiper-pagination-div">
            <div class="swiper-pagination-pointer"></div>
        </div>


    </div>


    <div class="swiper-container">
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>

    </div>
</div>



<script src="/static/js/rotations/slide.js"></script>
</body>
</html>