<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, td, th {
            border : 1px solid black;
            border-collapse : collapse;
        }
    </style>
</head>
<body>
    <h1>어드민 페이지</h1>

    <table >
        <tr>
            <th>board_index</th>
            <th>board_subject</th>
            <th>user_index</th>
            <th>board_content</th>
            <th>board_reg_date</th>
            <th>board_visit</th>
            <th>board_good</th>
            <th>board_bad</th>
            <th>board_upload_name</th>
            <th>board_upload_size</th>
            <th>board_upload_trans</th>
        </tr>
        <tr>
            <th>1</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
        </tr>
    </table>
    
</body>
</html>