<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>로그인 페이지</title>
</head>
<body>
    <main>
        <form action="/login/process" id="login" method="post">
            <input type="text" name="id" id="id">
            <input type="password" name="pw" id="pw" autocomplete="off">
            <button type="submit">login</button>
        </form>
        <a href="/register">회원가입</a>
    </main>
</body>
</html>