<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/duo/main.css">

</head>
<body>
<header class="header-container">

</header>
<main class="container">
    <div class="duo-container">

        <div class="searchValues">
           <select class="Que-select">

               <option value="">모두</option>
               <option value="솔로랭크">솔로랭크</option>
               <option value="자유랭크">자유랭크</option>
               <option value="일반">일반</option>
               <option value="칼바람나락">칼바람나락</option>
           </select>
           <select class="Tier-select">
               <option value="">모두</option>
               <option value="챌린저">챌린저</option>
               <option value="그랜드마스터">그랜드마스터</option>
               <option value="마스터">마스터</option>
               <option value="다이아몬드">다이아몬드</option>
               <option value="에메랄드">에메랄드</option>
               <option value="플래티넘">플래티넘</option>
               <option value="골드">골드</option>
               <option value="실버">실버</option>
               <option value="브론즈">브론즈</option>
               <option value="아이언">아이언</option>
           </select>
           <select class="Position-select">
               <option value="">상관없음</option>
               <option value="탑">탑</option>
               <option value="정글">정글</option>
               <option value="미드">미드</option>
               <option value="원딜">원딜</option>
               <option value="서포터">서포터</option>
           </select>
           <button type="button" class="search-button">검색</button>

            </div>

        <div id="insert-btnWrap">
            <button type="button" id="insert-btn">듀오찾기 글 작성</button>
        </div>

        <div id="modalWrap">
            <div id="modalBody">
                <span id="closeBtn">&times;</span>

                <div>인게임 아이디</div>
                 <input type="text"   id="duoGameid" placeholder="게임 닉네임+#+태그">
                <button type="button" class="check-gameid-btn">아이디 확인</button>

                    <div class="insert-duoQue">
                        <div>게임 타입</div>
                        <input type="radio"  name="duoQue" value="솔로랭크"> 솔로랭크
                        <input type="radio"  name="duoQue" value="자유랭크" > 자유랭크
                        <input type="radio" name="duoQue" value="일반게임"> 일반게임
                        <input type="radio" name="duoQue" value="칼바람나락"> 칼바람나락

                    </div>
                    <div class="insert-duoPosition">
<div>듀오 포지션</div>
                        <input type="radio" name="duoPosition" value=""> 상관없음
                        <input type="radio" name="duoPosition" value="탑" > 탑
                        <input type="radio" name="duoPosition" value="미드"> 미드
                        <input type="radio" name="duoPosition" value="정글"> 정글
                        <input type="radio" name="duoPosition" value="원딜"> 원딜
                        <input type="radio" name="duoPosition" value="서폿"> 서폿

                    </div>
                <div>내용</div>
                        <input type="text" id="duoContent" placeholder="생략 가능" value=""  style="width:300px;height:100px;">
<br>



                    <button type="button" class="insert-success-btn">입력 완료</button>

            </div>
        </div>

        <table class="duo-table">


       </table>

        <div class="page-controller">

        </div>
        <div class="page-controller1">

        </div>

    </div>
</main>
<script src="/static/js/duo/main.js"></script>

</body>

</html>
