<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/duo/main.css">
</head>
<body>
<header class="header-container">

</header>
<main class="container">
    <div class="duo-container">

        <div class="searchValues">
           <select class="Que-select">

               <option value="">모두</option>
               <option value="solo">솔로랭크</option>
               <option value="flex">자유랭크</option>
               <option value="normal">일반</option>
               <option value="aram">칼바람나락</option>
           </select>
           <select class="Tier-select">
               <option value="">모두</option>
               <option value="challenger">챌린저</option>
               <option value="grandmaster">그랜드마스터</option>
               <option value="master">마스터</option>
               <option value="diamond">다이아몬드</option>
               <option value="emerald">에메랄드</option>
               <option value="platinum">플래티넘</option>
               <option value="gold">골드</option>
               <option value="silver">실버</option>
               <option value="bronze">브론즈</option>
               <option value="iron">아이언</option>
           </select>
           <select class="Position-select">
               <option value="">상관없음</option>
               <option value="top">탑</option>
               <option value="jungle">정글</option>
               <option value="mid">미드</option>
               <option value="adcarry">원딜</option>
               <option value="support">서포터</option>
           </select>
           <button type="button" class="search-button">검색</button>

            </div>
        <table class="duo-table">

            <thead>
            <tr>
                <th>인덱스</th>
                <th>닉네임</th>
                <th>게임종류</th>
                <th>포지션</th>
                <th>티어</th>
                <th>작성날짜</th>
                <th>작성글</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div class="page-controller">

        </div>
        <div class="page-controller1">

        </div>
        <button type="button"  class="insert-button">글작성</button>
    </div>
</main>
<script src="/static/js/duo/main.js"></script>

</body>
</html>
