<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/board/main.css">
</head>
<body>
    <header class="header-container">

    </header>
    <main class="container">
        <div class="board-container">
            <div class="board-list">
                
            </div>
            <div class="write-box">
                <div class="left-items">

                </div>
                <div class="right-items">
                    <input type="search" class="search-input">
                    <button type="button" class="search-button">검색</button>
                </div>
            </div>
            <table class="board-table">
                
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            
            <div class="page-controller">
                
            </div>
            <div class="page-controller1">
                
            </div>
        </div>
    </main>
    <script src="/static/js/account/principal.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/board/main.js"></script>
</body>
</html>