<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodGame.gg</title>
    <link rel="stylesheet" type="text/css" href="style.css"><!-- 나중에 css파일 연결-->
</head>
<body>
<if></if>
<elseif></elseif>
<h1>글등록</h1>
<h1>글수정</h1>
<div id="board-container"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="board.js"></script>
<input type="button" name="boardList" placeholder="글목록">
</body>
</html>