<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> 
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/board/selectOne.css">
    <title>GoodGame.gg</title>
</head>
<body>


    <header class="header-box">
        
    </header>
    <div class="board-img-header">
        <h1 id="letter">커뮤니티</h1>
    </div>
        <main class ="container">
            <div class="board-container">
                <div class="board-header">
                    <h1 class="board-title"></h1>
                    <div class="board-meta"></div>
                </div>
                <div class="board-content">
                    
                </div>
                <div class="board-img-box">

                </div>

                <div class="button-container">
                    
                </div>
                <div class="board-reply">
                    <div class="reply-box">
                        <p class="reply-user"></p>
                        <p class="reply-date"></p>
                        <textarea class="reply-content" maxlength="300" placeholder="주제와 무관한 댓글, 타인의 권리를 침해하거나 명예를 훼손하는 게시물은 별도의 통보 없이 제재를 받을 수 있습니다."></textarea>
                            
                        
                    </div>
                    <div class="reg-btn-box">
                        <button type="button" class="repInsert-btn">등록</button>
                    </div>
                    <input type="hidden" class="boardIndex" value="boardIndex">
                    <input type="hidden" class="userIndex" value="userIndex">
                    <input type="hidden" class="replyGroup" value="replyGroup">
                    <input type="hidden" class="replySequence" value="replySequence">
                    
                    <div class="reply-btns">
                    </div>
                    
                    <div class="reply-table">

                    </div>
                </div>
            </div>
        </main>
               
  

<footer>

</footer>


</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/board/selectOne.js"></script>


</html>