<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/board/update.css">
    <title>GoodGame.gg</title>
</head>
<body>

    <header class="header-box">
        
    </header>
    <div class="board-header">
        <h1 id="letter">커뮤니티</h1>
    </div>
        <main class="updateMain">
            <div class="update-box">
                <div class="update-container">
                    <div class="update-detail">
                        
                    </div>
                </div>
            </div>
        </main>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/board/update.js"></script>
</html>